<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.1">
<title><%= title %></title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">

<style>
    .link {
        padding-left: 0.5%;
        padding-right: 0.5%;
        text-decoration: none;
        color: blue;
        border: 1px solid grey;
    }
</style>
</head>


<body>
<nav>
<a href="/" class="link">Home</a>
<a href="/courses/math/01-intro-to-calc" class="link">calc-intro</a>
<a href="/courses/cs/01-whats-an-algo" class="link">algos-intro</a>
<a href="/index" class="link">index</a>
</nav>

<main>