<%- include('partials/header', {title: 'Home Page'}) %>

<h1>Welcome to The Site</h1>
<p> The main goal of this site is to teach different cs topics at a undergraduate/graduate level.</p>
<p> There are not many youtube videos with good deep-dives, which is baffling considering its not all difficult</p>
<p> I hope to make some blogs that can help people (not necessarily only academics) to learn the beauty of it all</p>
<%- include('partials/footer') %>
